/* -------------------------
-------- BOOTSTRAP --------
-------------------------- */

.row {
  margin-left: 0px;
  margin-right: 0px;
}

/* -------------------------
-------- HTML TAGS --------
-------------------------- */

* {
  box-sizing: border-box;
}

body {
  background-color: beige;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  padding: 20px;
}

h1 {
  color: darkcyan;
  margin: 1rem;
  font-weight: bold;
  font-size: 2rem;
  width: 100%;
}

p {
  margin: 1rem;
  width: 100%;
}

/* ----------------------------------
-------- USER DEFINED CLASSES --------
-------------------------- */

/* INTRO PART */

.intro {
  display: block;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.image {
  height: 125px;
  width: 125px;
  margin-top: 1.5rem;
}

/* CONVERSION PART */

.holder {
    width: 50%;
    margin: auto;
}

.currency-row {
  display: flex;
  align-items: center;
  padding: 40px 0;
  justify-content: space-between;

  /* justify-content: space-between;
  align-items: center;
  padding: 40px 0;
  margin: auto; */
}

.currency-row select {
  font-size: 1.5rem;
}

.currency-row input {
  border: 0;
  text-align: right;
  background: transparent;
  font-size: 1.5rem;
  width: 50%;
}

button {
  color: white;
  background-color: teal;
  font-size: 0.8rem;
  border-radius: 5px;
  cursor: pointer;
  padding: 8px;
}
